.preview {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    display: flex;
    height: 100%;
  }

  &__iframe-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  &__iframe {
    flex: 1;
    height: 100%;
    margin: auto;
    transition: 0.2s;
    border: 0;
  }
}
